<ion-content class="notifications-content" [fullscreen]="true">
  <div class="top-shape">
    <h1 class="center-text">Notifications</h1>
  </div>

  <div class="notifications-wrapper">
    <div
      class="notification-card"
      *ngFor="let noti of notifications"
      [class.read]="noti.read"
    >
      <div class="noti-icon">
        <ion-icon [name]="noti.read ? 'mail-open-outline' : 'mail-unread-outline'"></ion-icon>
      </div>
      <div class="noti-text">
        <h3>{{ noti.message }}</h3>
        <p>Your request has been approved. You may now proceed to payment.</p>
        <small>{{ getTimeAgo(noti.timestamp) }}</small>
      </div>
    </div>
  </div>
</ion-content>
