<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<ion-content [fullscreen]="true" class="main-page ion-padding">

    <ion-button size="small" class="notif-button"><ion-icon name="notifications" slot="icon-only"></ion-icon></ion-button>
    
    <div class="top-part">
        <div class="header-part">
            <ion-icon name="location-outline" color="second" size="large"></ion-icon>
            <h5>Board n' Bunk</h5>
        </div>

        <div class="custom-search-wrapper">
            <input type="text" placeholder="Search..." class="custom-search-input" />
            <ion-icon name="search-outline" class="search-icon"></ion-icon>
        </div>
    </div>
    
    <div class="categ-part">
        <h3>Categories</h3>
        <div class="button-container">
          <ion-button>Solo Room</ion-button>
          <ion-button>Couples Room</ion-button>
          <ion-button>Studio Type</ion-button>
          <ion-button>Bedspace</ion-button>
        </div>
    </div>

    <div class="featured-rooms-part">
      <h3>Featured</h3>
      <div class="img-container">    
        <img src="assets/room/room1.jpg" alt="">
        <img src="assets/room/room2.jpg" alt="">
        <img src="assets/room/room3.jpg" alt="">
      </div>
    </div>

    <div class="explore-part">
      <h3>Explore</h3>
      <div class="explore-img-container">
        <ion-card class="hotel-card" routerLink="/infos">
          <ion-img src="assets/room/room1.jpg"></ion-img>
        
          <ion-card-content class="ion-padding">
            <div class="hotel-header">
              <h2>Luna, Philippines</h2>
              <div class="hotel-header-fav">           
                <ion-icon name="star" class="star-icon"></ion-icon>
                <span>4.9</span>
              </div>
            </div>
            <p>53 Kilometers away</p>
            <p id="last"><span>₱ 5,050</span> per Month</p>
          </ion-card-content>
        
          <ion-button fill="clear" size="small" class="favorite-button">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </ion-card>
        <ion-card class="hotel-card" routerLink="/infos">
          <ion-img src="assets/room/room2.jpg"></ion-img>
        
          <ion-card-content class="ion-padding">
            <div class="hotel-header">
              <h2>Luna, Philippines</h2>
              <div class="hotel-header-fav">           
                <ion-icon name="star" class="star-icon"></ion-icon>
                <span>4.9</span>
              </div>
            </div>
            <p>53 Kilometers away</p>
            <p id="last"><span>₱ 5,050</span> per Month</p>
          </ion-card-content>
        
          <ion-button fill="clear" size="small" class="favorite-button">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </ion-card>
        <ion-card class="hotel-card" routerLink="/infos">
          <ion-img src="assets/room/room3.jpg"></ion-img>
        
          <ion-card-content class="ion-padding">
            <div class="hotel-header">
              <h2>Luna, Philippines</h2>
              <div class="hotel-header-fav">           
                <ion-icon name="star" class="star-icon"></ion-icon>
                <span>4.9</span>
              </div>
            </div>
            <p>53 Kilometers away</p>
            <p id="last"><span>₱ 5,050</span> per Month</p>
          </ion-card-content>
        
          <ion-button fill="clear" size="small" class="favorite-button">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </div>
    </div>
</ion-content>
<ion-footer class="custom-tab-bar">
  <div class="tab-container">
    <ion-button fill="clear" routerLink="/homepage"><ion-icon name="home" class="tab-icon" color="light"></ion-icon></ion-button>
    <ion-button fill="clear" routerLink="/faves"><ion-icon name="heart" class="tab-icon" color="light"></ion-icon></ion-button>
    <ion-button fill="clear" routerLink="/message"><ion-icon name="mail" class="tab-icon" color="light"></ion-icon></ion-button>
    <ion-button fill="clear" routerLink="/profile"><ion-icon name="person" class="tab-icon" color="light"></ion-icon></ion-button>
  </div>
</ion-footer>
