<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<ion-content fullscreen class="landing-content">
  <div class="background-overlay"></div>

  <div class="content">
    <div class="logo-header">
      <img src="assets/logo.png" alt="" class="logo" />
      <span class="logo-text">BoardnBunk</span>
    </div>

   <h1>Find your<br />ideal boarding house<br />with ease</h1>
   <p>Discover affordable and convenient spaces<br />for your stay, wherever you go.</p>

    <div class="swipe-indicator"></div>
  </div>
</ion-content>