:root {
  --ion-background-color: #f6f6f6;
  --ion-card-background: #ffffff;
  --ion-text-color: #303030;
  --ion-border-color: #ccc;
}

body.dark {
  --ion-background-color: #303030;
  --ion-card-background: #303030;
  --ion-text-color: #f5f5f5;
  --ion-border-color: #444;
}
