<ion-content>
  <div class="chat-window">
    <div class="chat-header">
      <h2>Admin</h2>
    </div>

    <div class="messages">
      <div
          *ngFor="let msg of chatMessages"
          class="message"
          [ngClass]="{ 'right': msg.senderUid === currentAuthUid, 'left': msg.senderUid !== currentAuthUid }"
        >
          <strong>{{ msg.name }}</strong><br />
          {{ msg.content }}
          <p class="timestamp">{{ msg.timestamp?.toDate() | date:'short' }}</p>
        </div>


      <div class="input-container">
        <textarea placeholder="Type a message..." [(ngModel)]="messageText" (input)="autoGrow($event)" (keyup.enter)="sendMessage()"></textarea>
        <ion-button fill="clear" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
