<ion-content *ngIf="!loading && room; else loadingTpl">
  <div class="back-btn" routerLink="/homepage">
    <ion-icon name="arrow-back"></ion-icon>
  </div>

  <div class="review-btn">
    <ion-button size="small" fill="outline" (click)="goToReviews()">Reviews ></ion-button>
  </div>

  <div class="img-gradient-wrapper">
    <ion-img [src]="isValidHttpUrl(room.image) ? room.image : 'assets/room/room1.jpg'"></ion-img>
    <div class="image-gradient-overlay"></div>
  </div>

  <div class="infos">
    <div class="typenstars">
      <p class="type">{{ room.type }}</p>
    </div>
    <h4 class="room-name">{{ room.name }}</h4>
    <p class="description-p">{{ room.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' }}</p>
    <div class="rent-info">
      <div class="total-rent">Total Rent</div>
      <div class="rent-amount">₱{{ room.price }}</div>
      <ion-button (click)="submitRequest()" [disabled]="requestSent">
        {{ requestSent ? 'Request sent' : 'Send Request' }}
      </ion-button>
    </div>
  </div>
</ion-content>

<ng-template #loadingTpl>
  <ion-spinner name="crescent"></ion-spinner>
</ng-template>

<div class="payment-popup">
</div>
