*{
    font-family: 'Poppins', sans-serif;
}
ion-content{
    img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    .infos{
        width: 100%;
        position: fixed;
        bottom: 50px;
        z-index: 1000;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        .typenstars{
            display: flex;
            justify-content: space-between;

            .type{
                border-radius: 2px;
                padding: 1px 10px;
                background-color: rgb(26, 143, 240);
                color: whitesmoke;
                font-size: 15px;
                font-weight: bold;
            }
            .rate{
                font-size: 16px;
                font-weight: bold;
            }
        }
        .room-name{
            font-size: 40px;
            color: whitesmoke;
        }
        .description{
            margin-top: 15px;
            font-size: 20px;
        }
        .description-p{
            font-weight: 400;
            margin-top: 10px;
            font-size: 15px;
            color:#ffffff;
        }
        h4{
            color: #00B4D8;
            margin: 0;
            padding: 0;
            font-weight: 600;
            font-size: 22px;
        }
        .loc{
            margin: 1px;
            padding: 0;
            font-size: 14px;
            font-weight: 100;
        }
        
    }
    h3{ 
        margin-top: 20px;
        padding: 0 15px;
        font-size: 25px;
        font-weight: bold;
    }
    .info-hold{
        margin-top: 50px;
        padding: 0 15px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .information{
            display: flex;
            justify-content: center;
            align-items: center;
            h5{
                font-size: 11px;
                font-weight: bold;
            }
        }
    }
    .desc-owner{
        width: 100%;
        margin-top: 40px;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin-bottom: 100px;
        h4{
            font-size: 16px;
            font-weight: bold;
            color: #005a9a;
        }
        p{
            padding: 0 20px;
            text-align: justify;
        }
        .ownerprofile{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .ownerinfo{
                margin-top: 8px;
                display: flex;
                flex-direction: column;
                align-items: start;
                h5{
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    font-weight: bold;
                    color: #005a9a;
                }
                p{
                    margin: 0;
                    padding: 0;
                    font-size: 15px;
                    font-weight: 100;
                }
            }
        }
    }
    .back-btn {
        margin-top: 30px;
        position: absolute;
        left: 16px;
        background: white;
        border: black 1px solid;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      
        ion-icon {
          font-size: 20px;
          color: #0D0D19;
          width: 20px;
          height: 20px;
        }
      }

}
.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 10;
  }
  
  .rent-info {
    display: flex;
    flex-direction: column;
  }
  
  .total-rent {
    font-weight: bold;
    font-size: 18px;
    color: rgb(44, 160, 255);
  }
  
  .rent-amount {
    font-weight: bold;
    font-size: 15px;
    color: whitesmoke;
  }
  
.img-gradient-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .image-gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px; // You can adjust this
    background: linear-gradient(to top, rgba(14, 14, 14, 0.9), transparent);
    z-index: 1;
    pointer-events: none;
  }
}
ion-button{
    margin-top:40px;
}