<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<ion-content *ngIf="!loading && room; else loadingTpl">
  <div class="back-btn" routerLink="/homepage">
    <ion-icon name="arrow-back"></ion-icon>
  </div>
  <div class="img-gradient-wrapper">
    <ion-img [src]="isValidHttpUrl(room.image) ? room.image : 'assets/room/room1.jpg'"></ion-img>
    <div class="image-gradient-overlay"></div>
  </div>

  <div class="infos">
    <div class="typenstars">
      <p class="type">{{ room.type }}</p>
    </div>
    <h4 class="room-name">{{ room.name }}</h4>
    <p class="description-p">{{ room.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' }}</p>
    <div class="rent-info">
      <div class="total-rent">Total Rent</div>
      <div class="rent-amount">₱{{ room.price }}</div>
      <ion-button (click)="submitRequest()" [disabled]="requestSent">
        {{ requestSent ? 'Request sent' : 'Send Request' }}
      </ion-button>
    </div>
  </div>
</ion-content>

<ng-template #loadingTpl>
  <ion-spinner name="crescent"></ion-spinner>
</ng-template>

<!-- <ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <div class="rent-info">
            <div class="total-rent">Total Rent</div>
            <div class="rent-amount">₱{{ room.price }} / month</div>
          </div>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <ion-button (click)="submitRequest()" [disabled]="requestSent">
            {{ requestSent ? 'Request sent' : 'Send Request' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->
