<!-- infos.page.html -->
<ion-content *ngIf="!loading && room; else loadingTpl" class="ion-padding">
  <div class="back-btn" routerLink="/homepage">
    <ion-icon name="arrow-back"></ion-icon>
  </div>

  <ion-img [src]="isValidHttpUrl(room.image) ? room.image : 'assets/Spoliarium.jpg'"></ion-img>
  <div class="infos">
    <div class="typenstars">
      <p class="type">{{ room.type }}</p>
      <p class="rate">
        <ion-icon name="star" size="small" color="warning"></ion-icon>4.5
      </p>
    </div>
    <h4>{{ room.name }}</h4>
    <p class="loc">{{ room.location || 'Location not specified' }}</p>
  </div>

  <div class="info-hold">
    <div class="information">
      <ion-icon name="bed" size="large"></ion-icon>
      <h5>{{ room.beds || 'N/A' }} Bed</h5>
    </div>
    <div class="information">
      <ion-icon name="water" size="large"></ion-icon>
      <h5>{{ room.baths || 'N/A' }} Bath</h5>
    </div>
    <div class="information">
      <ion-icon name="home" size="large"></ion-icon>
      <h5>{{ room.size || 'N/A' }} sqm</h5>
    </div>
  </div>

  <div class="desc-owner">
    <h4>Description</h4>
    <p>{{ room.description || 'No description available.' }}</p>

    <h4>Contact Owner</h4>
    <div class="ownerprofile">
      <img [src]="room.ownerImage || 'assets/john-doe.jpg'" alt="Owner" />
      <div class="ownerinfo">
        <h5>{{ room.ownerName || 'Owner Name' }}</h5>
        <p><ion-icon name="call"></ion-icon> {{ room.ownerPhone || 'N/A' }}</p>
        <p><ion-icon name="logo-facebook"></ion-icon> {{ room.ownerFacebook || 'N/A' }}</p>
        <p><ion-icon name="mail"></ion-icon> {{ room.ownerEmail || 'N/A' }}</p>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #loadingTpl>
  <ion-spinner name="crescent"></ion-spinner>
</ng-template>

<ion-footer class="footer" *ngIf="room">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <div class="rent-info">
            <div class="total-rent">Total Rent</div>
            <div class="rent-amount">₱{{ room.price }} / month</div>
          </div>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <ion-button (click)="submitRequest()">Test Add Request</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
