<ion-content [fullscreen]="true">
  <div class="payment-modal-container">
    <div class="top-shape">
      <div class="top-bar">
        <ion-icon name="arrow-back-outline" class="back-btn" (click)="closeModal()"></ion-icon>
        <span class="modal-title">Choose Payment Method</span>
      </div>
    </div>

    <div class="payment-option-list">
      <!-- Debit/Credit Card -->
      <div class="payment-option" [class.selected]="selectedMethod === 'Card'" (click)="selectedMethod='Card'">
        <ion-icon name="card-outline"></ion-icon>
        <span>Debit / Credit Card</span>
        <ion-icon *ngIf="selectedMethod === 'Card'" name="checkmark-circle"></ion-icon>
      </div>
      <!-- GCash -->
      <div class="payment-option" [class.selected]="selectedMethod === 'GCash'" (click)="selectedMethod='GCash'">
        <img src="assets/paypal.png" alt="GCash" class="option-img" />
        <span>GCash</span>
        <ion-icon *ngIf="selectedMethod === 'GCash'" name="checkmark-circle"></ion-icon>
      </div>
      <!-- Cash -->
      <div class="payment-option" [class.selected]="selectedMethod === 'Cash'" (click)="selectedMethod='Cash'">
        <img src="assets/dollar.png" alt="Cash" class="option-img" />
        <span>Cash</span>
        <ion-icon *ngIf="selectedMethod === 'Cash'" name="checkmark-circle"></ion-icon>
      </div>
    </div>

    <ion-button expand="block" class="save-btn" (click)="save()">
      Save
    </ion-button>
  </div>
</ion-content>
