<ion-header>
  <ion-toolbar>
    <ion-title>Edit Room</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="editForm" (ngSubmit)="submitEdit()">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Room Type</ion-label>
      <ion-select formControlName="type" interface="popover" placeholder="Select Type">
        <ion-select-option value="solo">Solo</ion-select-option>
        <ion-select-option value="studio">Studio Type</ion-select-option>
        <ion-select-option value="bedspacer">Bed Spacer</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Availability</ion-label>
      <ion-toggle formControlName="availability"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="editForm.get('availability')?.value === false">
      <ion-label position="stacked">Tenants (comma separated)</ion-label>
      <ion-input formControlName="tenants"></ion-input>
      <ion-button size="small" slot="end" (click)="openTenantSelector()">Add Tenant</ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="editForm.get('tenants')?.touched && editForm.get('tenants')?.hasError('required')">
      <p class="ion-padding-start">Tenants are required when unavailable</p>
    </ion-text>


    <ion-button expand="block" type="submit" [disabled]="editForm.invalid">Update</ion-button>
  </form>

</ion-content>
