<ion-content [fullscreen]="true">
  <div id="container">

    <!-- Back Button -->
    <div class="back-btn" (click)="goToProfileMethod()">
      <ion-icon name="arrow-back"></ion-icon>
    </div>

    <!-- Title -->
    <h4 class="title">Settings</h4>

    <div style="margin-top: 20px;" class="setting-card">
      <div class="left-content">
        <ion-icon name="moon" class="icon"></ion-icon>
        <span>Dark Mode</span>
      </div>
      <ion-toggle slot="end"></ion-toggle>
    </div>

    <div class="setting-card">
      <div class="left-content">
        <ion-icon name="notifications-outline" class="icon"></ion-icon>
        <span>Notification</span>
      </div>
      <ion-toggle slot="end"></ion-toggle>
    </div>


  </div>
</ion-content>